@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-header {
  background-color: rgba(115, 115, 115, 1) !important;
}
.header {
  background-color: rgba(115, 115, 115, 1) !important;
  height: 40px !important;
  padding: 0 15px !important;
}

/* Medium screens and up (e.g., ≥768px) */
@media (min-width: 768px) {
  .header {
    padding: 0 40px !important;
  }
}

.main-menu {
  background-color: rgba(115, 115, 115, 1);
  /* line-height: 40px !important; */
  height: 40px !important;
  font-size: 14px;
  font-weight: 500;
}
